<form class="example-form" [formGroup]="NewPasswordObj" (ngSubmit)="OnSubmit()">
 
    <div class="form-group">
        <label for="oldpassword">Old Password</label>
        <input type="password" class="form-control" formControlName="oldpassword"  id="oldpassword" placeholder="Old password" name="oldpassword" required >
        <div class="alert alert-danger" *ngIf="this.NewPasswordObj.controls['oldpassword'].invalid">
         <span >
  Invalid Old Password
         </span> 
        </div>
        
      </div>


    <div class="form-group"  >
      <label for="password">New Password</label>      
      <input type="password" class="form-control" formControlName="password" id="password" placeholder="Enter price" name="password" required  >
      <div class="alert alert-danger" *ngIf="this.NewPasswordObj.controls['password'].invalid" >
      <span >
        Invalid New Password
               </span> 
      </div>
    </div>


    
      <div class="form-group submit">
        <button type="submit" class="btn btn-primary" [disabled]="this.NewPasswordObj.invalid"  >Submit</button>
      </div>


  </form>