
<div class="card text-center" >
    <div class="card-body">


<form  [formGroup]="login" (submit)="Login()">
    <div class="form-group"  >
      <label for="Email">Email address</label>      
      <input type="email" class="form-control" formControlName="email" id="Email" placeholder="Enter email" name="Email" required  >
      <div class="alert alert-danger" *ngIf="this.login.controls['email'].invalid" >
        <!-- {{this.login.controls['email'].invalid}} -->
      <span >
        Invalid Email
               </span> 
      </div>
    </div>
    <div class="form-group">
      <label for="passwordEmail">Password</label>
      <input type="password" class="form-control" formControlName="password"  id="passwordEmail" placeholder="Password" name="Password" required >
      <div class="alert alert-danger" *ngIf="this.login.controls['password'].invalid">
       <span >
Invalid Paassword
       </span> 
      </div>
      
    </div>
    
    <button type="submit" class="btn btn-primary" >Submit</button>
  </form>

    </div>
</div>