

  <div class="registration-form">
    <form  [formGroup]="add_product_from" (ngSubmit)="AddProduct()">
       <h2 class="form-title text-center" style="color: dimgrey;">Welcome Admin Add Your Product  </h2>
        <div class="form-group">
          <input type="text" class="form-control item" formControlName="title"  id="title" placeholder="title" name="title" required >
        </div>
        <div class="form-group">
          <input type="number" class="form-control item" formControlName="price" id="price" placeholder="Enter price" name="price" required  >
        </div>
        <div class="form-group">
          <input type="text" class="form-control item" formControlName="Brand"  id="brand" placeholder="brand" name="Brand" required >
        </div>
        <div class="form-group">
          <input type="number" class="form-control item" formControlName="quantity"  id="quantity" placeholder="quantity" name="quantity" required >
        </div>
        
        <div class="form-group">
          <input type="text" class="form-control item" formControlName="details"  id="details" placeholder="details" name="details" required >
        </div>
        <div class="form-group">
          <input type="file" class="form-control" formControlName="img" (change)="getImage($event)" >
        </div>

        <div class="form-group text-center" >
            <button type="submit" class="btn btn-dark">Add Product</button>
        </div>
       
  
    </form>
  </div>